<html>
<body>
<center>
  <h2>Enter The Url</h2>
  <form action= "shortened_urls/create", method="post">
  <input type= "text", value = "", name = "orginal_url"/>
  <input type = "submit" value = "Submit">
    </form>
</center>
</body>
</html>
